<form id="confim-form">
  <h2>Are you sure you want to delete the following message?</h2>
  <button {{action "cancel"}} id='cancel-delete'>Cancel</button>
  <button {{action "confirm"}} id='confirm-delete'>Delete</button>
</form>

{{partial "partials/message"}}