<p>
  <strong>Recipients &mdash;</strong> {{recipients}}
</p>

<p>
  <strong>Subject &mdash;</strong> {{subject}}
</p>

<p>
  <strong>Link Count &mdash;</strong> {{link_count}}
</p>

<hr />

<section id="body-content">
  {{{body}}}
</section>

<hr />