<script type="text/x-handlebars" id="message">
  <ul class='message-field'>
    <li>{{recipients}}</li>
    <li><h4>{{subject}}</h4></li>
    <li>{{body}}</li>
    <li>{{link_count}}</li>
  </ul>
</script>

<script type="text/x-handlebars" id="messages/new">
  <form {{action "createMessage" on="submit"}}>
    <h1>Create a new message</h1>
    <div class='field-control'>
      <label for='recipients'>Recipients</label>
      {{#if dirtyForm}}
        <div class='form-field-error'>{{errors.recipients}}</div>
      {{/if}}
      {{input type="text" id='recipients' name='recipients' class='form-field' valueBinding="model.recipients" autofocus=true}}
    <div class='field-control'>
      <label for='subject'>Subject</label>
      {{input type="text" id='subject' name='subject' class='form-field' valueBinding="model.subject"}}
    </div>

    <div class='field-control'>
      <label for='body'>Body</label>
        {{#if dirtyForm}}
          <div class='form-field-error'>{{errors.body}}</div>
        {{/if}}
      {{view MessageCenter.TinymceView id='body' name='body' class='form-field' cols='80' rows='6' valueBinding="model.body"}}
    </div>

    <div class='field-control'>
      {{input id='submit-message' type='submit' value='Create'}}
    </div>
  </form>
</script>

<script type="text/x-handlebars" id="messages">
  <table id='messages-table' class='index-table'>
    <thead>
      <tr>
        <th class='sortable' {{action 'sort' 'subject'}}>Subject</th>
        <th class='sortable' {{action 'sort' 'link_count'}}>Link Count</th>
        <th class='sortable' {{action 'sort' 'created_at'}}>Created On</th>
        <th class='sortable' {{action 'sort' 'updated_at'}}>Updated On</th>
        <th>Edit</th><th>Delete</th><th>Forward</th>
      </tr>
      {{#each}}
      <tr>
        <td>{{subject}}</td><td>{{link_count}}</td>
        <td>{{date created_at}}</td><td>{{date updated_at}}</td>
        <td>{{#link-to 'messages.edit' message}}Edit{{/link-to}}</td>
        <td>{{#link-to 'messages.destroy' message}}Delete{{/link-to}}</td>
        <td>{{#link-to 'messages.forward' message}}Forward{{/link-to}}</td>
      </tr>
      {{/each}}
    </thead>
  </table>
</script>
